
#dropZone,
#planets {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  min-height: 150px;
  margin-bottom: 20px;
}
#dropBox1,
#dropBox2,
#dropBox3,
#dropBox4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 10px solid #000000;
  padding: 1rem;
}

img {
    height: 100px;
    object-fit: cover;
    width: 100px;
  }

/* @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900); */
body {
  background-color: #141414;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEyMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYycgd2lkdGg9JzYwJyBoZWlnaHQ9JzEyMCcgeD0nMCcgeT0nMCcgdmlld0JveD0nMCAwIDUgMTAnPgoJCQk8cGF0aCBmaWxsLW9wYWNpdHk9JzAnIHN0cm9rZT0nIzI5MjkyOScgc3Ryb2tlLXdpZHRoPScwLjA5JyBkPSdNLTIsMUw3LDEwTS0yLDZMNywxNU0tMiwtNEw3LDUnLz4KCQk8L3BhdHRlcm4+CgkJPHBhdHRlcm4gcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgaWQ9J2MyJyB3aWR0aD0nNjAnIGhlaWdodD0nMTIwJyB4PScxMDAlJyB5PScwJyB2aWV3Qm94PScwIDAgNSAxMCc+CgkJCTxwYXRoIGZpbGwtb3BhY2l0eT0nMCcgc3Ryb2tlPScjMjkyOTI5JyBzdHJva2Utd2lkdGg9JzAuMDknIGQ9J003LDFMLTIsMTBNNyw2TC0yLDE1TTcsLTRMLTIsNScvPgoJCTwvcGF0dGVybj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPSc1MCUnIGhlaWdodD0nMTAwJScgZmlsbD0ndXJsKCNjKScvPgoJPHJlY3QgeD0nNTAlJyB3aWR0aD0nNTAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYzIpJy8+Cjwvc3ZnPg==');
  
    margin:0; padding:0;
    overflow-x:hidden;
    height:100%;
    font-family: 'Lato', Helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.45;
    color: #eee;
    color: rgba(255,255,255,.85);
}
#container { 
    padding-top: 50px;
}
#content {
    max-width: 43em;
    padding:10px;
    margin: 0 auto;
}
h1 {
    font-size: 4.8em;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}

h2 {
  font-size: 1.0em;
  font-weight: 100;
  text-transform: none;
  margin: 0;
  position:center; 
}

a {
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}



html { font-size: 45.5%; }
body { font-size: .85em;}


  
@media (max-width:300px) { .stage { -webkit-transform:scale(0.55); transform:scale(0.55); margin-right:40px; } }
@media (min-width: 400px) {
    html { font-size: 60%; }
    .stage { -webkit-transform:scale(0.68); transform:scale(0.68); margin-right:80px; }
    h1 { font-size: 1em;}
    #dropBox1,
    #dropBox2,
    #dropBox3,
    #dropBox4  {  border: 1px solid #128fd8;}
}
@media (max-width:400px) { .stage { -webkit-transform:scale(0.55); transform:scale(0.55); margin-right:40px; } }
@media (min-width: 700px) {
    html { font-size: 60%; }
    .stage { -webkit-transform:scale(0.68); transform:scale(0.68); margin-right:80px; }
    h1 { font-size: 3em;}
    #dropBox1,
    #dropBox2,
    #dropBox3,
    #dropBox4  {  border: 5px solid #5e6366;}
}
@media (min-width: 800px) {
    html { font-size: 120%; }
    p#pright { margin-left:1em; }
    .stage { -webkit-transform:scale(0.85); transform:scale(0.85); margin-right:120px; }
    #dropBox1,
    #dropBox2,
    #dropBox3,
    #dropBox4  {  border: 5px solid #111111;}
}