

@font-face {
  font-family: 'typewriter';
  src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
       url('fonts/veteran_typewriter-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


form {
  font : 1em "typewriter", monospace;
  position : relative;
  width  : 1240px;
  height : 498px;
  margin : 0 auto;
  padding: 2em;
  box-sizing: border-box;
  border-spacing: 10em;
  background : #FFF;

  /* grid */
  display  : grid;
  grid-gap : 10px;
  grid-template-columns : repeat(1, 1fr);
  grid-template-rows    : 1em 1em 2em 2em;
}

  button {
    padding      : 15px;
    font         : bold .6em sans-serif;
    border       : 2px solid #348aad;
    border-radius: 25px;
    background   : #ffffff;
    cursor       : pointer;
    transform    : rotate(0deg);
  }

  input, textarea {
    font    : 1.4em/1.5em "typewriter", monospace;
    border  : none;
    padding : 1px 10px;
    margin  : 0;
    width   : 80%;
    background : none;
  }

  button:hover,
  button:focus {
    outline     : none;
    background  : #348aad;
    color       : #FFF;
  }
 
   /* headings */
h1 {
  font : 1em "typewriter", monospace;
  align-self : end;
  padding: 1em;
}

#message {
   grid-row: 1 / 5;
}

   /* background */
.background-image {
    position: absolute;
    background-size: 20px 40px;
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

